﻿@{
    Layout = "~/Views/Shared/_LayoutDemo.cshtml";
}

@{
    ViewBag.Title = "About Page";
}

@section MainContent{

<div class="row">
    <div class="  col-xs-12 text-left">
        <ol id="About" class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-cog"></span></a></li>
            <li class="active">About</li>
        </ol>
    </div>

    <div class="  col-xs-12 text-left">
        <p>
            <b>Multi-blogging website</b> with functionality similar to <a href="https://en.wikipedia.org/wiki/LiveJournal">"LiveJournal"</a>,
             where each user has a blog, friends list and profile. 
             Posts and blogs ratings for  top lines are calculated every @LJ.Controllers.VisitorController.JOB_INTERVAL_RATING hours as a background job.
             Statistics reports are available at website and blog levels.<br/> Demo logins  at <a href="/Home/Help">"Help"</a>.
        </p>
    </div>
 </div>

    <div class="row" style="margin-top:70px;" >
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li><a href="#About">About</a></li>
                <li class="active">Website terms and icons</li>
            </ol>
        </div>
    
        <div class="  col-xs-12 text-left">

            <dl>
                <dt>Blog</dt>
                <dd>-  user posts with the comments left by other users</dd>
                <dt>Profile</dt>
                <dd>- information about user, statistics</dd>
                <dd>- tool to crop  images for userpics</dd>
                <dt>Friends line</dt>
                <dd>- the most recent blog posts of the people on user's friends list</dd>
                <dt> Friends list</dt>
                <dd>- used to show entries on user Friends Line and restrict access to his/her posts</dd>
                <dt> Friends groups</dt>
                <dd>- used to filter user Friends Line and restrict access to his/her posts</dd>


                <dt>Relationships</dt>
                <dd>
                    -  <span class="glyphicon glyphicon-arrow-left" aria-hidden="true" style="color:#0d47a1;"></span>
                    <span aria-hidden="true" class="glyphicon glyphicon-arrow-right" style="color:lightgray;"></span>
                    friend, user added another user to his/her friends list
                </dd>
                <dd>
                    -  <span class="glyphicon glyphicon-arrow-left" aria-hidden="true" style="color:lightgray;"></span>
                    <span aria-hidden="true" class="glyphicon glyphicon-arrow-right" style="color:green;"></span>
                    friend of, user added by another user to his/her friends list
                </dd>
                <dd>
                    -  <span class="glyphicon glyphicon-arrow-left" aria-hidden="true" style="color:#0d47a1;"></span>
                    <span aria-hidden="true" class="glyphicon glyphicon-arrow-right" style="color:green;"></span>
                    mutual friend, user is both a friend and a friend of
                </dd>

                <dt> Security levels</dt>
                <dd>- <span class="glyphicon glyphicon-none demo-icons"></span> public (user posts are public)</dd>
                <dd>- <span class="glyphicon glyphicon-eye-open demo-icons"></span> friends  (user posts can see only his/her friends)</dd>
                <dd>- <span class="glyphicon glyphicon-eye-close demo-icons"> </span> custom groups (user posts can see only groups of his/her friends) </dd>
                <dd>- <span class="glyphicon glyphicon-lock demo-icons"> </span> private ( only user)</dd>


                <dt>Top Posts</dt>
                <dd>- the most recent popular public posts</dd>
                <dd>- top  post ratings calculated by post  visitors, received comments, likes, dislikes</dd>

                <dt>Top Bloggers</dt>
                <dd>- users whose posts are popular
                <dd>- top blog  ratings calculated by  blog visitors, friends, received comments, likes, dislikes </dd>
                <dd>
                    - arrows indicate changes in user top rating:
                    some changes - <span class="glyphicon glyphicon-arrow-up" aria-hidden="true" style="color:green"></span> 5,
                    <span aria-hidden="true" class="glyphicon glyphicon-arrow-down" style="color:gray;"></span> 8,
                    no changes - <span class="glyphicon glyphicon-arrow-up" aria-hidden="true" style="color:green"></span><span aria-hidden="true" class="glyphicon glyphicon-arrow-down" style="color:gray;"></span>
                </dd>

                <dt>Administrator</dt>
                <dd>- manage background jobs (<span style="font-weight:bolder;font-size:16px;color:gray;">Σ</span> top ratings, <span class="glyphicon glyphicon-stats" style="color:gray;"></span> top positions, visitor logs, history)</dd>
                <dd>- manage post filters: tags and categories </dd>
                
                
                <dt>Analytics</dt>
                <dd>- used custom analytics not google analytics</dd>

                <dt class="about-analytics">Website Analytics</dt>
                <dd class="about-analytics">- by online and history visitors</dd>
                <dd class="about-analytics">- posts and blogs ratings charts</dd>
                <dd class="about-analytics">- posts and blogs top lines</dd>

                <dt class="about-analytics">Admin Analytics</dt>
                <dd class="about-analytics">- by time  spent on pages, bounce and exit pages </dd>
                <dd class="about-analytics">- by   information about visitors</dd>

                <dt class="about-analytics">Blog Analytics</dt>
                <dd class="about-analytics">- by blog  ratings</dd>
                <dd class="about-analytics">- by posts  (received comments, likes, dislikes)</dd>
                <dd class="about-analytics">- by comments (received and posted)</dd>
                <dd class="about-analytics">
                    - by user and user friends actions (
                    <span class="glyphicon glyphicon-plus" aria-hidden="true" style="color:gray"></span>
                    <span class="glyphicon glyphicon-minus" aria-hidden="true" style="color:gray;"></span>
                    from friends lists)
                </dd>
                <dd class="about-analytics">- by visitors (time spent on pages, bounce and exit pages)</dd>

                <dt>Background Jobs</dt>
                <dd>- blog  and  posts  ratings calculated every @LJ.Controllers.VisitorController.JOB_INTERVAL_RATING hours </dd>
                <dd>- visitors history calculated  every 24 hours</dd>
                <dd>- page hits saved on every request</dd>
               
            </dl>
        </div>
    </div>

    <div class="row" style="margin-top:80px;" id="Software">
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li><a href="#About">About</a></li>
                <li class="active">Used software</li>
            </ol>
        </div>

        <div class="  col-xs-12 text-left">
            <dl>
                <dt>Languages</dt>
                <dd>- C#, JavaScript</dd>
                <dt>Database</dt>
                <dd>- MS SQL Server 2014</dd>
                <dt>ORM</dt>
                <dd>- Entity Framework 6 (Code First)</dd>
                <dt>Background processing</dt>
                <dd>- <a href="http://hangfire.io/">Hangfire</a></dd>
                <dt>Internet</dt>
                <dd>-  ASP.NET MVC 4, JavaScript, jQuery, CSS</dd> 
                <dt>Responsive web design</dt>
                <dd> - front-end web framework - Bootstrap 3</dd>

                <dt>Plugins</dt> 
                <dd> - <a href="https://www.tinymce.com">tinyMCE</a>,  advanced HTML editor</dd>
                <dd> - <a href="http://odyniec.net/projects/imgareaselect">imgAreaSelect</a>, an image cropping tool</dd>
                <dd> - <a href="http://designwithpc.com/Plugins/ddSlick">ddSlick</a>,  a custom drop down with images</dd>
                <dd> - <a href="http://www.highcharts.com/demo">highCharts</a>,  a charting library</dd>
                <dd> - <a href="http://www.highcharts.com/maps/demo">highMaps</a>,  a map library</dd>

                <dt>API</dt>
                <dd> - <a href="https://freegeoip.net">freeGeoIP</a>,  public HTTP API  to search the geolocation of IP addresses</dd>
            </dl>
        </div>
    </div>


    <div class="row" style="margin-top:80px;">
        <div class="  col-xs-12  text-left">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li><a href="#About">About</a></li>
                <li class="active">Content</li>
            </ol>
        </div>

        <div class="  col-xs-12 text-left">
            <dl>
                <dt>Userpics</dt>
                <dd>
                    - <a href="https://en.wikipedia.org/wiki/Al_Hirschfeld">Al Hirschfeld</a> caricatures of celebrities and Broadway stars
                </dd>
            </dl>
        </div>

        <div class="col-xs-9 col-md-7 text-left">
            @Html.Action("GetUsersForSideBar", "User")
        </div>
    </div>

    <div class="row" style="margin-top:50px;">
        <div class="  col-xs-12 text-left">
            <dl>
                <dt>Advertisement</dt>
                <dd>
                    - <a href="https://en.wikipedia.org/wiki/Al_Hirschfeld">Al Hirschfeld</a> vintage posters
                </dd>
            </dl>
        </div>

        <div class="col-xs-12 col-md-6 text-left">
            <img class="img-responsive" src="/Content/posters/poster3.jpg" />
        </div>
    </div>

    <div class="row" style="margin-top:50px; ">
        <div class="  col-xs-12 text-left">
            <dl>
                <dt>Posts</dt>
                <dd>
                    - my family posts ( <a href="http://igornasa.livejournal.com">igornasa</a>,
                    <a href="http://elefant59.livejournal.com">elefant59</a>) published at
            </dl>
        </div>
        <div class="  col-xs-5 col-md-5 text-left">
            <a href="https://en.wikipedia.org/wiki/LiveJournal">
                <img class="img-responsive" style="border:solid 1px lightgray; padding:12px;margin:0px;" src="/Content/Demo/logo22.png" />
            </a>
        </div>
    </div>

}

@section RightSideContent
 {
    <div class="row">
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li><a href="#About">About</a></li>

                <li class="active">Screenshots</li>
            </ol>
        </div>

        <div class=" col-xs-12">
            <p>
                Select posts by category or tag
            </p>
            <img class="img-responsive img-demo" src="/Content/Demo/Demo2.jpg" />
        </div>

        <div class=" col-xs-12 ">
            <p>
                Cropping  userpics
            </p>
            <img class="img-responsive img-demo" src="/Content/Demo/Demo3.jpg" />
        </div>

        

        <div class=" col-xs-12 ">
            <p>Edit post</p>
            <img class="img-responsive img-demo" src="/Content/Demo/Demo12.png" />
        </div>

        <div class=" col-xs-12 ">
            <p>Hierarchy comments</p>
            <img class="img-responsive img-demo" src="~/Content/Demo/Demo14.png" />
        </div>
       
        <div class=" col-xs-12 ">
            <p>Visitors map</p>
            <img class="img-responsive img-demo" src="/Content/Demo/report3.jpg" />
        </div>
        <div class=" col-xs-12 ">
            <p>Received comments chart</p>
            <img class="img-responsive img-demo" src="/Content/Demo/report1.jpg" />
        </div>
    </div>
}





