﻿@model LJ.ViewModels.ViewModelPosts

<div id="content">

    <h1>@ViewBag.Title</h1>

    @Html.Partial("_PostPager", Model)

    @if (Model.TotalPosts > 0)
    {
        foreach (var post in Model.Posts)
        {
            @Html.Partial("_PostTemplate", post)
        }
    }
    else
    {
        <p>No posts found!</p>
    }

    @Html.Partial("_PostPager", Model)

</div>

