﻿@model PostViewModel
@using LJ.Controllers;
@using LJ.Infrastructure;
@using System.Globalization;
@using Microsoft.AspNet.Identity;
@using LJ.Repository;
@using LJ.Models.Blog;
@using LJ.ViewModels;
@using System.Web;
@using System.Web.Mvc.Ajax;
@using LJ.Models.User


@{
    string username = User.Identity.GetUserName();
    string userDefaultImageId = User.Identity.GetIdentityImageId();//iz
}

<div class="row" style="margin-bottom:16px">
    <div class="col-md-4 col-xs-12">
        <a class="linklike" href="@Url.Action("UpdateLikes", "Blog", new { id = Model.Id, username = username, likeordislike = (int)Likes.LikePost,  sortorder = ViewBag.CurrentSort })">
            <span style="font-size:22px;" class="glyphicon glyphicon-thumbs-up"></span>
        </a>
        <a class="likecount" style="color:green;">@Model.PostLikes</a>

        <a class="linklike" href="@Url.Action("UpdateLikes", "Blog", new { id = Model.Id, username = username, likeordislike = (int)Likes.DislikePost, sortorder = ViewBag.CurrentSort })">
            <span style="font-size:22px; margin-top:2px;  padding-top:2px;" class="glyphicon  glyphicon-thumbs-down"></span>
        </a>
        <a class="likecount" style="color:red;">@Model.PostDislikes</a>

        @if (true || Request.IsAuthenticated)
        {
            <a class="btn btn-default comment-menu-items btn-xs new-comment-reply" href="/Blog/NewComment/@Model.Id">
                <span style="font-size:24px; margin:0px; padding:0px;" class="glyphicon glyphicon-edit"></span>
            </a>
        }
    </div>
    <div class="col-md-4 col-xs-6 text-center-md" style=" padding-top:6px;">

        @if (Model.CommentsCount == 1)
        {<span style="font-size:16px;" class="badge">@Model.CommentsCount </span> @Html.Raw("Comment")}
        else if (Model.CommentsCount > 1)
        {<span style="font-size:16px;" class="badge">@Model.CommentsCount </span> @Html.Raw("Comments")}

    </div>

                @using (Html.BeginForm("GetUserPost", "Blog", new { id = Model.Id }))
                {
                    <div class="col-md-4 col-xs-6 text-right">
                        
                            <div class="input-group pull-right">
                                <span class="input-group-addon">By</span>
                                <select class="form-control" name="sortorder" id="cmtsortorder" style="width:100px;" title ="Comments sort order">

                                    @foreach (CommentSortOrders o in Enum.GetValues(typeof(CommentSortOrders)))
                                    {
                                        if ((int)o == Model.SortOrder)
                                        {
                                            <option value="@((int)o)"   selected="selected">@o</option>
                                        }
                                        else
                                        {
                                            <option value="@((int)o)">@o</option>
                                        }
                                    }

                                </select>
                            </div>                       
                    </div>
                }
        </div>

        @foreach (var viewModelComment in Model.Comments)
        {
            var comment = viewModelComment.Comment;
            var commentUrl = Url.Action("GetImage", "Blog", new { id = comment.UserImageId }) ?? Url.Content("~/Content/UserImages/NoImage.jpg");
            var commentUserName = CultureInfo.CurrentCulture.TextInfo.ToTitleCase(comment.UserName);
            var passedTime = LJ.Infrastructure.Extensions.TimePassed(comment.DateTime);
            var commentDate = StatusNames.GetStatusName(comment.StatusId) +
                             comment.DateTime.ToLongDateString().Replace(comment.DateTime.DayOfWeek.ToString() 
                                  + ", ", "");
            
            <div class="row" id="@("targetParentReply" + comment.Id)">
                <div class="col div-comment-top">
                    <div class="comImg">
                        <div class="userImage comment-top"><img src="@commentUrl" height="50" width="50" /></div>
                        <div class="commentUserName comment-top">
                            <span class="glyphicon glyphicon-user"></span> <strong>@commentUserName</strong>&nbsp;&nbsp;
                            <span class="comment-time">-- @passedTime</span><br />
                            <span class="comment-date"> @commentDate</span>
                            @if ((comment.StatusId & (int)Status.Deleted) == 0 && comment.UserName == User.Identity.GetUserName())
                            {
                                <br />
                                <a href="Blog/EditComment/@comment.Id" class="btn btn-default btn-xs edit-comment-reply ">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </a>
                                <a href="@Url.Action("DeleteComment", "Blog", new { commentid = comment.Id, username = username })"
                                   alt="Delete comment" title="Delete comment" class="btn btn-default btn-xs confirm-delete">
                                    <span class="glyphicon glyphicon-remove comment-menu-items" aria-hidden="true"></span>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-comment-body">
                <div class="col">
                    @Html.Raw(comment.Body)
                </div>
            </div>
            if ((comment.StatusId & (int)Status.Deleted) == 0)
            {
                <div class="row replySubMenu row-bottom-comment-menu">
                    <div class="col">
                        <a class="linklike" alt="Like" title="Like @comment.UserName comment" href="@Url.Action("UpdateLikes", "Blog",
                     new { id = comment.Id, username = username, likeordislike = (int)Likes.LikeComment,  sortorder = ViewBag.CurrentSort })">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                        </a>
                        <a class="likecount" style="color:green;">@viewModelComment.CommentLikes</a>
                        <a class="linklike" alt="Dislike" title="Dislike @comment.UserName comment" href="@Url.Action("UpdateLikes", "Blog",
                                  new { id = comment.Id, username = username, likeordislike = (int)Likes.DislikeComment, sortorder = ViewBag.CurrentSort })">
                            <span class="glyphicon glyphicon-thumbs-down"></span>
                        </a>
                        <a class="likecount" style="color:red;">@viewModelComment.CommentDislikes</a>

                        @if (Request.IsAuthenticated)
                        {
                            <a class="btn btn-default  btn-xs comment-menu-items new-comment-reply" href="/Blog/NewParentReply/@comment.Id"><span style="font-size:18px;" class="glyphicon glyphicon-edit"></span></a>
                        }
                    </div>
                </div>
            }

            if (comment.Replies != null)
            {
                foreach (var reply in comment.Replies)
                {
                    if (reply.ParentReplyId == null)
                    {
                        var replyId = reply.Id;
                        var replyUserName = CultureInfo.CurrentCulture.TextInfo.ToTitleCase(reply.UserName);
                        var replyPassedTime = LJ.Infrastructure.Extensions.TimePassed(reply.DateTime);
                        var replyDate = StatusNames.GetStatusName(reply.StatusId) +
                           reply.DateTime.ToLongDateString().Replace(reply.DateTime.DayOfWeek.ToString() 
                              + ", ", "");
                        var likes = reply.LikesCount;
                        var dislikes = reply.DislikesCount;
                        var marginOffset = "0px";// Level 0 , margin 0, comment starts with -15
                        <div class="row " style="margin-left:@marginOffset;">
                            <div class="col div-comment-top">
                                <div class="comImg">
                                    <div class="userImage comment-top"><img src="/Blog/GetImage/@reply.UserImageId" height="50" width="50" /></div>
                                    <div class="commentUserName comment-top">
                                        <span class="glyphicon glyphicon-user"></span> <strong>@replyUserName</strong>&nbsp;&nbsp;<span class="cmntTime">-- @replyUserName</span><br />
                                        @replyDate
                                        @if ((reply.StatusId & (int)Status.Deleted) == 0 && reply.UserName == User.Identity.GetUserName())
                                        {
                                            <br />
                                            <a href="Blog/EditReply/@reply.Id" class="btn btn-default btn-xs comment-menu-items  edit-comment-reply">
                                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                            </a>
                                            <a href="@Url.Action("DeleteReply", "Blog", new {replyid = reply.Id, username = username })"
                                               alt="Delete comment" title="Delete comment" class="btn btn-default btn-xs confirm-delete">
                                                <span class="glyphicon glyphicon-remove comment-menu-items comment-menu-items" aria-hidden="true"></span>
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-comment-body" style="margin-left:@marginOffset;">
                            <div class="col">
                                @Html.Raw(reply.Body)
                            </div>
                        </div>

                        if ((reply.StatusId & (int)Status.Deleted) == 0)
                        {
                            <div class="row replySubMenu row-bottom-comment-menu" style="margin-left:@marginOffset;">
                                <div class="col">
                                    <a class="linklike" alt="Like" title="Like @reply.UserName reply" href="@Url.Action("UpdateLikes", "Blog",
                                                new { id = reply.Id, username = username, likeordislike = (int)Likes.LikeReply,  sortorder = ViewBag.CurrentSort })">
                                        <span class="glyphicon glyphicon-thumbs-up"></span>
                                    </a>
                                    <a class="likecount" style="color:green;">@likes</a>
                                    <a class="linklike" alt="Dislike" title="Dislike @reply.UserName reply"
                                       href="@Url.Action("UpdateLikes", "Blog", new { id = reply.Id, username = username, likeordislike = (int)Likes.DislikeReply, sortorder = ViewBag.CurrentSort })">
                                        <span class="glyphicon glyphicon-thumbs-down"></span>
                                    </a>
                                    <a class="likecount" style="color:red;">@dislikes</a>

                                    @if (Request.IsAuthenticated)
                                    {
                                        <a class="btn btn-default  btn-xs comment-menu-items new-comment-reply" href="/Blog/NewChildReply/@reply.Id"><span style="font-size:18px;" class="glyphicon glyphicon-edit"></span></a>
                                    }
                                </div>
                            </div>
                        }

                        @Html.Action("ChildReplies", new { parentReplyId = reply.Id, level = 1 })
                    }
                }
            }
        }



























