﻿@model EditPostViewModel
@using Microsoft.AspNet.Identity;
@using LJ.Models.User;
@using LJ.ViewModels.Blog;
@using LJ.ViewModels.User;
@using LJ.Models.Blog;


@{
    Layout =  "~/Views/Shared/_LayoutNew.cshtml";
    var ShortDescriptionMax =  EditPostViewModel.MaxContent;
    var DescriptionMax =  EditPostViewModel.MaxContent;

    string username = User.Identity.GetUserName();

    var userImageIds = User.Identity.GetIdentityImageIds().ToList();
    string defaultUserImageId = User.Identity.GetIdentityImageId();
    if (defaultUserImageId == "") 
    {
        defaultUserImageId = userImageIds.FirstOrDefault().ToString();
    }
    

    
    var userImageId = Model.Post.UserImageId == 0 ? defaultUserImageId : Model.Post.UserImageId.ToString();
    var usetTagIds = Model.Tags == null ? null : Model.Tags.Select(t => t.Id).ToList();
    

    var userPanelInfo = new UserPanelInfo {
        FriendType = (int)FriendType.MySelf,
        UserName = username,
        DefaultUserImageId = Int32.Parse(defaultUserImageId),
        VisitorUserName = username,
        FriendGroups = Model.FriendGroups
    };

    var i = 0;
    var isGroup = Model.FriendGroups != null && Model.FriendGroups.Count() > 0;
    var groupString = isGroup ? "col-xs-12 col-md-3 col-sm-6 grid-btn" : "col-xs-12  col-sm-4 grid-btn";
    var strNavigation = Model.Post.Id == 0 ? "New post" : "Edit post";
}

@section CurrentPageInfo
{
    @username, you are viewing your journal
}

@section MainContent{

    @Html.Partial("_UserPanel",userPanelInfo)

    <div class="row">
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">

                <li><a href="@Url.Action("GetProfile", "User", new { id = username })"><span class="glyphicon glyphicon-user"></span> @username</a></li>
                @if(Model.Post.Id == 0)
            {
                    <li class="active">New Post</li>
            }
            else
            {
                    <li><a href="@Url.Action("GetUserPosts", "Blog", new { id = username })">Posts</a></li>
                    <li><a href="@Url.Action("GetUserPost", "Blog", new { id = Model.Post.Id})">Post</a></li>
                    <li class="active">Edit Post</li>
            }
            </ol>
        </div>
    </div>








    @using (Html.BeginForm("EditPost", "Blog", FormMethod.Post, new  { id = "posteditform" }))
    {  <div class="form-group">
        @Html.AntiForgeryToken()
        @Html.Hidden("Post.UserImageId", userImageId, new { id = "Post_UserImageId" })
        @Html.Hidden("Post.Id", Model.Post.Id)



        <div class="row" style="margin-bottom:30px;">

            <div class="col-md-12 text-left">
                @Html.LabelFor(m => m.Post.Title) @Html.ValidationMessageFor(m => m.Post.Title)
            </div>



            <div class="col-md-2 col-xs-4">
                <div class="">
                    <select id="ddUserImages">
                        @foreach (var img in userImageIds)
                        {
                            <option value="@img" data-imagesrc="@Url.Content("/Blog/GetImage?id=" + img)"
                                    @if (userImageId == img)
                                    { @Html.Raw("selected =\"selected\"")  }></option>
                        }
                    </select>
                </div>
            </div>


            <div class="col-md-10 col-xs-8">
                @Html.TextArea("Post.Title", Model.Post.Title, new { @class = "form-control" })
            </div>


        </div>



        <div class="row " style="margin-bottom:30px;">
            <div class=" col-xs-12">
                @Html.LabelFor(m => m.Post.ShortDescription) @Html.ValidationMessageFor(m => m.ShortDescriptionCounter)
                <div class="input-group" style="margin-bottom:1px;">
                    <span class="input-group-addon"> Html │ Max │ @ShortDescriptionMax │  Entered </span>
                    @Html.TextBoxFor(m => m.ShortDescriptionCounter, new { @readonly = "readonly", @class = "form-control" })
                </div>  
                </div>
                <div class=" col-xs-12">
                    @Html.EditorFor(m => m.Post.ShortDescription)
                    
                </div>
            </div>


        <div class="row" style="margin-bottom:30px;">
            <div class=" col-xs-12">
                @Html.LabelFor(m => m.Post.Description) @Html.ValidationMessageFor(m => m.ContentCounter)
                <div class="input-group" style="margin-bottom:1px;">
                    <span class="input-group-addon"> Html │ Max │ @DescriptionMax │  Entered </span>
                    @Html.TextBoxFor(m => m.ContentCounter, new { @readonly = "readonly", @class = "form-control" })
                </div>
            </div>
            <div class=" col-xs-12">
                @Html.EditorFor(m => m.Post.Description)
            </div>
        </div>


        <div class="row" style="margin-bottom:30px;">
            <div class="col-md-12">
                @Html.LabelFor(m => m.Post.Category) @Html.ValidationMessageFor(m => m.Post.CategoryId)
            </div>
            <div class="col-md-12">
                <div style="border: solid 1px lightgray; padding: 12px 12px">
                    <div class="row">
                        @foreach (var category in Model.Categories)
                        {


                            <div class="col-xs-6 col-md-3 col-sm-4">
                                
                                <label class="radiobox-inline">                                   
                                    @Html.RadioButtonFor(m => m.Post.CategoryId, category.Id) 
                                  
                                    @category.Name
                                </label>
                             </div>
                        }
                        
                    </div>
                    
                </div>
                
            </div>
        </div>





        <div class="row" style="margin-bottom:30px;">
            <div class="col-md-12">
                @Html.LabelFor(m => m.Post.Tags)  
                
                @Html.ValidationMessageFor(m => m.PostTagsCount)
                <div class="input-group" style="margin-bottom:1px;">
                    <span class="input-group-addon">  Checked </span>
                    @Html.TextBoxFor(m => m.PostTagsCount, new { @readonly = "readonly", @class = "form-control" })
                </div>  

            </div>
            <div class="col-md-12">
                <div style="border: solid 1px lightgray; padding: 12px 12px">
                    <div class="row">
                        @foreach (var tag in Model.Tags)
                        {
                            var controlName = "Post.Tags[" + i++ + "].Id";
                            var isChecked = (Model.Post.Tags != null && Model.Post.Tags.Any(t => t.Id == tag.Id) ? true : false);
                            <div class="col-xs-6 col-md-3 col-sm-4">
                                <label class="checkbox-inline">
                                    @Html.CheckBox(controlName, isChecked, new { value = tag.Id, @class="check-tag" }) @tag.Name
                                </label>
                            </div>
                        }
                        
                    </div>
                    
                </div>
                
            </div>
        </div>






        <div class="row" style="margin-bottom:30px;">
            <div class="col-md-12">
                @Html.Label("Security")
            </div>


            <div class="@groupString">
                <label for="radioPublic" class=" radio-inline ">
                    @Html.RadioButton("Post.SecurityStatus", (int)SecurityStatuses.Public,
                                           new { id = "radioPublic", selected = Model.Post.SecurityStatus == (int)SecurityStatuses.Public }) Public
                </label>

            </div>

            <div class="@groupString">
                <label for="radioFriends" class=" radio-inline">
                    @Html.RadioButton("Post.SecurityStatus", (int)SecurityStatuses.Friends,
                                           new { id = "radioFriends", selected = Model.Post.SecurityStatus == (int)SecurityStatuses.Friends }) Friends
                </label>
            </div>

            @if (isGroup)
            {
                <div class="@groupString">

                    <label for="radioCustom" class=" radio-inline">
                        @Html.RadioButton("Post.SecurityStatus", (int)SecurityStatuses.Custom,
                    new { id = "radioCustom", selected = Model.Post.SecurityStatus == (int)SecurityStatuses.Custom }) Custom groups
                    </label>
                </div>
            }


            <div class="@groupString">
                <label for="radioPrivate" class=" radio-inline">
                    @Html.RadioButton("Post.SecurityStatus", (int)SecurityStatuses.Private,
                                           new { id = "radioPrivate", selected = Model.Post.SecurityStatus == (int)SecurityStatuses.Private }) Private
                </label>
            </div>



            @if (isGroup)
            {
                i = 0;
                var isHide = Model.Post.SecurityStatus == (int)SecurityStatuses.Custom ? "" : "hide";

                <div id="radioCustomExtra" class="col-md-offset-6 col-md-offset-8 col-xs-12 col-md-3 col-sm-4 @isHide">
                    @foreach (var gr in Model.FriendGroups)
                    {
                        var controlName = "Post.Groups[" + i++ + "].Id";
                        var isChecked = (Model.Post.Groups != null && Model.Post.Groups.Any(t => t.Id == gr.Id) ? true : false);
                        <label class="checkbox-inline">
                            @Html.CheckBox(controlName, isChecked, new { value = gr.Id }) @gr.Name
                        </label><br />


                    }
                </div>
            }
        </div>




        <div class="row" style="margin-top:40px;">
            <div class=" col-xs-12 text-center ">
                <div class="btn-group ">
                    <button type="submit" class="btn btn-primary " id="btnsave">Save</button>
                    
                    <a class="btn  btn-default  link-delete-post"
                       href="@Url.Action( "GetPosts", "Admin")" title="Delete post">
                        Cancel
                    </a>
                </div>
            </div>

        </div>
    </div>

    }
                }



                @section RightSideContent{
                    @Html.Action("GetSidebars", userPanelInfo)
                }

                @section Scripts{
                    <!-- jquery validation -->
                    @Scripts.Render("~/bundles/jqueryval")

                    <!-- jquery tinymce library -->
                    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
                    <!-- jquery ddslick library -->
                    <script src="/Scripts/Custom/JavaScript1.js"></script>
                    <script>
                        $(document).ready(function () {



                       $.validator.setDefaults({ ignore: "" });

                        $('.btn').button();



                        $('#ddUserImages').ddslick({
                            width: 90,
                            onSelected: function (data) {
                                $("#Post_UserImageId").val(data.selectedData.value.toString());
                            }
                        });

                        tinymce.init({
                            selector: '#Post_Description',

                            charLimit: @DescriptionMax,
                            setup: function(editor) {
                                editor.on('keyup', function (e) {
                                    updateTinyMiceHtmlCounter(editor, e, "#ContentCounter")
                                });
                                editor.on('loadcontent', function (e) {
                                    updateTinyMiceHtmlCounter(editor, e, "#ContentCounter")
                                });
                            },

                            height: 500,
                            theme: 'modern',
                            plugins: [
                              'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                              'searchreplace wordcount visualblocks visualchars code fullscreen',
                              'insertdatetime media nonbreaking save table contextmenu directionality',
                              'emoticons template paste textcolor colorpicker textpattern imagetools'
                            ],
                            toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
                            toolbar2: 'print preview media | forecolor backcolor emoticons',
                            image_advtab: true,

                            templates: [
                              { title: 'Test template 1', content: 'Test 1' },
                              { title: 'Test template 2', content: 'Test 2' }
                            ],
                            content_css: [
                              '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                              '//www.tinymce.com/css/codepen.min.css'
                            ]
                        });


                        tinymce.init({
                            selector: '#Post_ShortDescription',
                            charLimit: @ShortDescriptionMax,
                            setup: function(editor) {
                                editor.on('keyup', function (e) {
                                    updateTinyMiceHtmlCounter(editor, e, "#ShortDescriptionCounter")
                                });
                                editor.on('loadcontent', function (e) {
                                    updateTinyMiceHtmlCounter(editor, e, "#ShortDescriptionCounter")
                                });
                            },

                            

                            height: 350,
                            theme: 'modern',
                            plugins: [
                              'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                              'searchreplace wordcount visualblocks visualchars code fullscreen',
                              'insertdatetime media nonbreaking save table contextmenu directionality',
                              'emoticons template paste textcolor colorpicker textpattern imagetools'
                            ],
                            toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
                            toolbar2: 'print preview media | forecolor backcolor emoticons',
                            image_advtab: true,
                            templates: [
                              { title: 'Test template 1', content: 'Test 1' },
                              { title: 'Test template 2', content: 'Test 2' }
                            ],
                            content_css: [
                              '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                              '//www.tinymce.com/css/codepen.min.css'
                            ]
                        });


                            function updateTinyMiceHtmlCounter(ed, e, inputCopyIdentifier) {
                                var  tinylen, htmlcount;
                                tinylen = ed.getContent().length;
                                $(inputCopyIdentifier).val(tinylen);
                            }


                            $(".check-tag").change( function () {

                                var control = $('#PostTagsCount');
                                var value =  parseInt(control.val());
                                if ($(this).attr("checked") == "checked" )
                                {
                                    control.val(++value);
                                }
                                else
                                {
                                    control.val(--value);
                                }
                            });





                            $('#radioCustom').click( function () {

                                $('#radioCustomExtra').removeClass('hide');
                            });

                            $('#radioPublic, #radioPrivate, #radioFriends').click(function () {

                                $('#radioCustomExtra').addClass('hide');
                            });

                            //When checkboxes/radios checked/unchecked, toggle background color
                            $('div.grid-btn').on('click', 'input[type=radio]', function () {
                                $(this).closest('.grid-btn').find('.radio-inline, .radio').removeClass('checked');
                                $(this).closest('.radio-inline, .radio').addClass('checked');
                            });
                            $('div.grid-btn').on('click', 'input[type=checkbox]', function () {
                                $(this).closest('.checkbox-inline, .checkbox').toggleClass('checked');
                            });

                            //Show additional info text box when relevant radio checked
                            $('input[type=radio]').click(function () {
                                $(this).closest('div.grid-btn').find('.additional-info-wrap .additional-info').addClass('hide').find('input,select').val('').attr('disabled', 'disabled');
                                if ($(this).closest('.additional-info').length > 0) {
                                    $(this).closest('.additional-info').removeClass('hide').find('input,select').removeAttr('disabled');
                                }
                            });

                        });
                    </script>
                }


