﻿@model string  
@using LJ.Models.Blog;
@using LJ.Models.User;

@{
    
    var userImageIds = User.Identity.GetIdentityImageIds();
    var userSelectedImageId = Model ;
}
    
@if (userImageIds == null || userImageIds.Count() == 0)
{
    <img height="50" width="50" src="@Url.Content("~/Content/UserImages/NoImage.jpg")" alt="no image" />
}
else if ((userImageIds.Count() == 1))
{
    <img height="50" width="50" src="@Url.Content("/Blog/GetImage?id=" + @userSelectedImageId)" />
}
else
{
    <select id="ddimages">
        @foreach (var img in userImageIds)
        {
            if (userSelectedImageId == img)
            {
                <option value="@img" data-imagesrc="@Url.Content("/Blog/GetImage?id="+img)" selected="selected"></option>
            }
            else
            {
                <option value="@img" data-imagesrc="@Url.Content("/Blog/GetImage?id="+img)"></option>
            }
        }
    </select>
}

