﻿@model LJ.ViewModels.HomePageViewModel
@using Microsoft.AspNet.Identity;
@using LJ.Infrastructure;
@using System.Globalization;
@using Microsoft.AspNet.Identity;
@using LJ.Repository;
@using LJ.Models.Blog;
@using LJ.ViewModels;
@using LJ.Models.User;
@using System.Web;
@using System.Web.Mvc.Ajax;


@{
    Layout = "~/Views/Shared/_LayoutDemo.cshtml";
    string username = User.Identity.GetUserName();

    int i = 0;
   }


@section MainContent{
 
<div class="row">
    <div class="  col-xs-12 text-left">
        <ol class="breadcrumb">
            <li><a href="#"><span class="glyphicon glyphicon-cog"></span></a></li>

            <li class="active">Home</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Top bloggers</div>
            <div class="panel-body">
                @if (Model.Users.Count() == 0)
                {
                    <div class="row">
                        <div class="  col-sm-offset-3 col-sm-5  col-xs-12  text-center">
                            <img class="img-responsive col-xs-12 " src="~/content/userimages/noposts.jpg" style="border:solid 1px gray;" />
                        </div>
                    </div>
                }
                else
                {
                    foreach (var user in Model.Users)
                    {
                        i++;

                        <div class="row">
                            <div class="col-md-1 col-xs-1">
                                @i
                            </div>

                            <div class="col-md-4 col-xs-8" >
                               
                                <span class="glyphicon glyphicon-user"></span> @user.UserName
                                
                            </div>
                            <div class="col-md-4 col-xs-8" >
                                @{ var diff = Math.Abs((int)(user.UserInfoId - i)); }
                                @if (user.UserInfoId  < i)
                                {  
                                    <span class="glyphicon glyphicon-arrow-down" style="color:gray;"></span> @diff
                                }
                                else if (user.UserInfoId > i)
                                {
                                    <span class="glyphicon glyphicon-arrow-up" style="color:gray;"></span> @diff
                                }
                                
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>


@{i=0;}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Top posts today</div>
            <div class="panel-body">
                @if (Model.Posts.Count() == 0)
                {
                    <div class="row">
                        <div class="  col-sm-offset-3 col-sm-5  col-xs-12  text-center">
                            <img class="img-responsive col-xs-12 " src="~/content/userimages/noposts.jpg" style="border:solid 1px gray;" />
                        </div>
                    </div>
                }
                else
                {
                    foreach (var post in Model.Posts)
                    {
                        i++;

                        <div class="row">
                            <div class="col-md-1 col-xs-1">
                                @i
                            </div>

                            <div class="col-md-10 col-xs-8" style="margin-bottom:12px;">
                                <b>@Html.PostLink(post)</b><br />
                                By <span class="glyphicon glyphicon-user"></span> @Html.UserNameLinkToPosts(post)
                                &nbsp;&nbsp;
                                <i>@post.PostedOn.ToConfigLocalTime()</i>
                            </div>
                        </div>

                    }
                }
            </div>
        </div>
    </div>
</div>
}

