﻿@model LJ.ViewModels.ModelViewPosts
@using LJ.Models.User;
@{

    string actionName = Enum.GetName(typeof(FriendType), Model.UserPanelInfo.FriendType & (long)FriendType.Action);
    var username = Model.User == null ? "" : Model.User.UserName;
    var categoryid = Model.Category == null ? 0 : Model.Category.Id;
    var tagid = Model.Tag == null ? 0 : Model.Tag.Id;
    var groupid = Model.Group == null ? 0 : Model.Group.Id;
    var isWithoutUserPanel = (Model.UserPanelInfo.FriendType & (long)FriendType.WithoutUserPanel) > 0;
    var arr = actionName.Split('P');
    var actionNameString = arr[0] == "User" ? "Posts " : arr[0] + " Posts " +
        (groupid == 0 ? "" : " (" + Model.Group.Name + ")");
    string filterString = (categoryid == 0 ? "" : "By category \"" + Model.Category.Name + "\" ") +
                               (tagid == 0 ? "" : "By tag \"" + Model.Tag.Name + "\" ");
    int minPostsPerPage = 10;
    bool isShowNavigation = true;// (Model.PostsPerPage <= Model.TotalPosts) || (minPostsPerPage <= Model.TotalPosts);
}


        <div class="row">
            <div class="  col-xs-12 ">
                <ol class="breadcrumb">

                    @if (isWithoutUserPanel)
                    {
                        <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-cog"></span></a></li>
                    }
                    else
                    {
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> @username</a></li>
                    }
                    @if (filterString == "")
                    {
                        <li class="active">@actionNameString</li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("Get" + actionName, "Blog",
                                  new { id = username, pageSize = Model.PostsPerPage})">@actionNameString</a>
                         </li>
                        <li class="active">@filterString</li>
                    }
                </ol>
            </div>
        </div>

@if (Model.TotalPosts <= minPostsPerPage)
{ 
<div class="row" style="margin-bottom:16px;">
    <div class="col-xs-12 text-right">
        <span class="label label-default label-primary navigation-posts" style=" padding:10px 10px;">Posts <span class="badge">@Model.TotalPosts</span></span>
    </div>
</div>
}
else
{ 
<div class="row">
    <div class="col-xs-12  text-right-md  text-right-lg text-center-xs" style="margin-bottom:16px;">

        <div class="btn-group navigation-posts">
            <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown"
                    title="Navigation info">

                Page <span class="badge">@Model.PageNumber</span> of <span class="badge">@Model.TotalPages</span>
                | Posts <span class="badge">@Model.TotalPosts</span>

            </button>

        </div>

    </div>
</div>

        <div class="row">
            <div class="  col-xs-12  text-center" style="margin-bottom:16px;">
                @if (isShowNavigation)
                {
                    <div class="btn-group">
                        <a class="btn btn-sm btn-primary @Html.Raw(Model.IsPrevious? "" : "disabled")"
                           title="First @Model.PostsPerPage posts"
                           href="@Url.Action( "Get" + actionName, "Blog" ,
                            new { id=username,
                                categoryid=categoryid,
                                tagid=tagid,
                                pagesize= Model.PostsPerPage ,
                                pageno=  1 })">
                           
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="glyphicon glyphicon-chevron-left"></span>                           
                        </a>

                        <a class="btn btn-sm btn-primary @Html.Raw(Model.IsPrevious? "" : "disabled")"
                           title="Previous @Model.PostsPerPage posts"
                           href="@Url.Action( "Get" + actionName, "Blog" ,
                            new { id=username,
                                categoryid=categoryid,
                                tagid=tagid,
                                pagesize= Model.PostsPerPage ,
                                pageno= Model.PageNumber - 1 })">                            
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            @Model.PostsPerPage
                        </a>

                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"
                                    title="Per page selection. Currently set @Model.PostsPerPage posts per page.">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                @for (int i = minPostsPerPage; i <= 100; i += 10)
                                {
                                    <li>
                                        <a tabindex="-1" href="@Url.Action( "Get" + actionName, "Blog" ,
                               new { id=username,
                                   categoryid=categoryid,
                                   tagid=tagid,
                                   pagesize= i ,
                                   pageno=1 })">
                                   @if (@Model.PostsPerPage == i)
                                   {
                                       <span style="color:blue">Posts per page - @i</span>
                                   }
                                   else
                                   {
                                       <span >Posts per page - @i</span>
                                   }
                                   </a>
                            </li>
                                }

                            </ul>
                        </div>

                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"
                                    title="Page selection. Currently set page # @Model.PageNumber of  @Model.TotalPages pages">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">

                                @for (int i = 1; i <= Model.TotalPages; i++)
                                {
                                    <li>
                                        <a tabindex="-1" href="@Url.Action( "Get" + actionName, "Blog" ,
                               new { id=username,
                                   categoryid=categoryid,
                                   tagid=tagid,
                                   pagesize= Model.PostsPerPage ,
                                   pageno=i })">
                                   @if (@Model.PageNumber == i)
                                   {
                                    <span style="color:blue">Page - @i</span>
                                   }
                                   else
                                   {
                                    
                                    <span>Page - @i</span>
                                   }
                                   </a>
                            </li>
                                }

                            </ul>
                        </div>

                        <a class="btn btn-sm btn-primary @Html.Raw(Model.IsNext? "" : "disabled")"
                           title="Next @Model.PostsPerPage posts"
                           href="@Url.Action( "Get" + actionName, "Blog" ,
                            new { id=username,
                                categoryid=categoryid,
                                tagid=tagid,
                                pagesize= Model.PostsPerPage ,
                                pageno= Model.PageNumber +1 })">
                            @Model.PostsPerPage
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>

                        <a class="btn btn-sm btn-primary @Html.Raw(Model.IsNext? "" : "disabled")"
                           title="Last @Model.PostsPerPage posts"
                           href="@Url.Action( "Get" + actionName, "Blog" ,
                            new { id=username,
                                categoryid=categoryid,
                                tagid=tagid,
                                pagesize= Model.PostsPerPage ,
                                pageno= Model.TotalPages })">
                           
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                }
            </div>
            <div class=" col-xs-12 col-md-4 text-right" style="margin-bottom:16px;">
           </div>
        </div>
}










