﻿@model LJ.ViewModels.PostViewModel
@using System.Web;
@using System.Web.Mvc.Ajax;
@using LJ.Repository;
@using LJ.Models.Blog;
@using LJ.ViewModels;
@using Microsoft.AspNet.Identity;
@using LJ.Models.User;


@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    var categoryid = Model.FilterCategory == null ? 0 : Model.FilterCategory.Id;
    var tagid = Model.FilterTag == null ? 0 : Model.FilterTag.Id;
    
    var groupStr  = Model.Groups.Count() == 0 ? "" :
        "Visible for " + String.Join(", ", Model.Groups.OrderBy(p => p.Name).Select(p => p.Name).ToArray());
    
    
    //reset for tags and categories to see all options for user jornal
    var userPanelInfoFilters = Model.UserPanelInfo;
    userPanelInfoFilters.FriendType = Model.UserPanelInfo.FriendType ;

    string username = "";
    string defaultUserImageId = "";
    IEnumerable<string> userImageIds = null;
    bool notAnonymous = (userPanelInfoFilters.FriendType & (long)FriendType.Anonymous) == 0;

    if (notAnonymous)
    {
        username = User.Identity.GetUserName();
        defaultUserImageId = User.Identity.GetIdentityImageId();
        userImageIds = User.Identity.GetIdentityImageIds();
    } 
}

@section CurrentPageInfo{
    <span class="glyphicon glyphicon-user"></span> @Model.UserPanelInfo.UserName @Model.UserPanelInfo.MsgForUserType
}


@section MainContent{ 
    @Html.Partial("_UserPanel", Model.UserPanelInfo)

    <div class="row">
        <div class="col-md-12 text-center " style="vertical-align:top;">
            @Html.Partial("PostPaging", Model)       
       </div>
    </div>

<div class="row">
    <div class="col-md-2 col-xs-4">
        <img id="imgDefault" class="userpic-size-md" src="/Blog/GetImage/@Model.ImageId">

    </div>

    <div class="col-md-10 col-xs-8" style="margin-bottom:12px;">
        By <span class="glyphicon glyphicon-user"></span> <a href="/User/GetProfile/@Model.UserName">@Model.UserName</a><br />
        <i>@Model.PostedOn.ToConfigLocalTime()</i>
    </div>

    <div class="col-md-10 col-xs-12" style="margin-bottom:12px;">
        <h4>      
            @switch (Model.SecurityStatus) 
            {
                case (int)SecurityStatuses.Private:
                    <span class="glyphicon glyphicon-lock" title="Private Post"></span>
                    break;
                case (int)SecurityStatuses.Friends:
                    <span class="glyphicon glyphicon-eye-open" title="Post is visible only for friends"></span>
                    break;
                case (int)SecurityStatuses.Custom:
                    <span class="glyphicon glyphicon-eye-close" title="@groupStr"></span>
                    break;
                default:                 
                    break;
            }
            
            @Model.Title

        </h4>
    </div>
</div>


<div class="row">
    <div class="col">
        @Html.Raw(Model.Description)
    </div>
</div>            
            
            
<a name="ShowComments"></a>
            <div class="row" style="margin-top:16px;">
    <div class="col">
        <span>Category:</span> @Html.CategoryLink(Model.Category, Model.UserPanelInfo.UserName, "GetUserPosts", 0)
        
    </div>
</div>

            <div class="row" style="margin-bottom:16px;">
                <div class="col">
                    <span>Tags:</span>
                    @{
                        var f = 0;
                    } 
                    @foreach (var tag in Model.Tags.OrderBy(p => p.Name))
                    {
                    <div class="tags-div">
                        @if ( f++ > 0) {@Html.Raw(", ")}
                        
                        @Html.TagLink(tag, Model.UserPanelInfo.UserName, "GetUserPosts",0)                     
                    </div>
                    }                    
                </div>
            </div>
  @Html.Partial("Comments", Model)
}

@section RightSideContent{
   @Html.Action("GetSidebars", Model.UserPanelInfo) 
    
}


@section Scripts
{  <!-- Scripts level 1 -->
    <!-- jquery ui library -->
    <script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
    <!-- tinyMCE -->
    <script src="@Url.Content("~/Scripts/tiny_mce/tinymce.min.js")"></script>
    <!-- jquery ddslick library -->
    <script src="/Scripts/Custom/JavaScript1.js"></script>
    <!-- jquery template library -->
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
     <!-- jquery validation -->
     <script type="text/javascript" src="/Scripts/jquery.validate.js"></script>
     <script type="text/javascript" src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <!-- LJ Custom library -->
    <script src="@Url.Content("~/Scripts/Custom/lj1.js")"></script>
    <script src="~/Scripts/blogLJ/blog.js"></script>


 <!-- LJ Custom library -->
 @if (notAnonymous) { <!-- Template for Edit-New - Comment-Reply Form -->
    <script type="text/html" id="tmpFormControl">
        <div class="row div-comment-top   form-group "
            id="tmpFormControl${controlid}" style="margin-bottom:60px;margin-top:40px;margin-left:${margin}px;">
            <form action="/Blog/${action}" method="post" role="form">
                @Html.AntiForgeryToken()
                <div class="col-md-6 div-comment-top" style="padding:-1px;">

                    <div class="comImg">
                        <div class=" comment-top">
                            <select id="ddimages${controlid}">
                                @foreach (var img in userImageIds)
                                {
                                    <option value="@img" data-imagesrc="@Url.Content("/Blog/GetImage?id="+img)"></option>
                                }
                            </select>

                        </div>
                        <div class="commentUserName comment-top">
                            <span class="glyphicon glyphicon-user"></span> @username
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="btn-group pull-right">

                        <button type="submit" class="btn btn-save-tmp btn-primary btn-sm">
                            {{if isNew}}<span class="glyphicon glyphicon-edit"></span> Save new comment
                            {{else}}<span class="glyphicon glyphicon-pencil"></span> Save edited comment{{/if}}
                        </button>
                        <button type="button" class="btn btn-default btn-sm  {{if isNew}}btn-cancel-new-form{{else}}btn-cancel-edit-form{{/if}}">Cancel</button>

                    </div>

                    
                </div>
                
                <div class="input-group pull-right" style="margin-bottom:1px;">
                    <span class="input-group-addon"> Html │ Max │ 1,500 │  Entered  </span>

                    <input class="text-box single-line form-control" readonly="readonly"
                           data-val-range="Comment  must be between 1 and 1500 HTML characters."
                           data-val-range-max="1500" data-val-range-min="1"
                           id="CommentsCharCount${controlid}" name="CommentsCharCount${controlid}" type="text" value="" />
                </div>
                <div class="col-xs-12 text-left">
                    <span class="comment-message" style ="color:red;"></span>
                    <span class="field-validation-valid" data-valmsg-for="CommentsCharCount${controlid}" data-valmsg-replace="true"></span>
                </div>
                <div class="col-xs-12" style="padding:0px;">

                    <textarea name="body" id="body${controlid}">${body}</textarea>
                    <div class="comTextSub">
                        <input value="{{if isNew}}@defaultUserImageId{{else}}${userimageid}{{/if}}" name="userimageid" id="userimageid${controlid}" type="hidden" />
                        <input value="@username" name="comusername" type="hidden" />
                        <input value="@Model.Url" name="slug" type="hidden" />
                        <input value="@Model.Id" name="postid" type="hidden" />
                        <input value="${id}" name="id" type="hidden" />
                    </div>

                </div>
            </form>
        </div>
   </script>
  }
}