﻿@model IEnumerable<VisitorActionsViewModel>
@using LJ.ViewModels.Visitor;
@using System.Collections.Specialized;


@section Styles
{
    <link rel="stylesheet" href="/content/bootstrap-datetimepicker.min.css" />
}


@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    NameValueCollection actions = new NameValueCollection(){
                 { "GetUserPost", "Post" },
                 { "GetUserPosts", "Browse Posts" },
                  { "GetProfile", "Profile" },
    };
}

@section CurrentPageInfo
{

}


@section MainContent{

    <div class="row">
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">
                <li><a href="#"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li class="active">Statistics by blog bounce pages </li>

            </ol>
        </div>
    </div>


<div class="row">
    <div class="  col-sm-6 col-xs-12 hidden-xs text-left"><b>Page / Page Type</b></div>
    <div class="  col-sm-2 col-xs-4 text-left"><b>Views</b></div>
    <div class="  col-sm-2 col-xs-4 text-left"><b>Bounce</b></div>
    <div class="  col-sm-2 col-xs-4 text-left">
        <abbr title="The percentage of single-page visits or the number of visits in which people left your website from the same page they entered on.">
            <b>%Bounce</b>
        </abbr>
    </div>

</div>


    <div class="h-divider" style="margin-bottom:14px;"></div>
    @if (Model.Count() == 0)
    {
        <div class="row">
            <div class="  col-xs-12 text-left">No bounce pages</div>
        </div>
    }
    else
    {
        foreach (var i in Model)
        {
            var result = (i.Count2 * 100) / i.Count1;

            <div class="row">
                <div class="   col-xs-12 text-left text-left"><b>@actions[i.Action]</b></div>
                <div class="  col-sm-6  col-xs-12 text-left">
                      @if (i.Id != 0) { @Html.ActionLink(i.Title1, "GetUserPost", "Blog", new { id = i.Id }, null)}
                </div>
                <div class="col-sm-2 col-xs-4 text-left">@i.Count1</div>
                <div class="col-sm-2 col-xs-4 text-left">@i.Count2 </div>
                <div class="col-sm-2 col-xs-4 text-left">@result%</div>
            </div>
            <hr />
        }
    }
}


@section RightSideContent{
    <div class="row">
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li class="active">Advertisement</li>
            </ol>
        </div>
    </div>
    @Html.Partial("_Ad", 2)
}


@section Scripts {

}



