﻿@model IEnumerable<VisitorActionsViewModel>
@using LJ.ViewModels.Visitor;
@using System.Collections.Specialized;


@{
    
NameValueCollection actions = new NameValueCollection()
{
    { "GetUserPost", "Post" },
    { "GetUserPosts", "Browse Posts" },
    { "GetProfile", "Profile" },
};

}


<div class="row">
    <div class="col-xs-12 col-sm-5 hidden-xs  text-left"><b>Page</b></div>
    


    <div class="col-sm-2  col-xs-4 text-left">
        <abbr title="The total number of pages viewed. This number includes repeated views of a single page. In other words, a single person may view the same page several times and each view is counted as a visit.">
            <b>Visits</b>
        </abbr>
    </div>
    <div class="col-sm-2  col-xs-4 text-left">
        <abbr title="The number of individual people who have viewed a specific page at least once during a visit. For example, if a single user views a page more than once during the same visit">
            <b>Visitors</b><br/>
        </abbr>  (User/ Anonymous)
    </div>

    <div class="col-sm-3  col-xs-4 text-left">
        <abbr title="The average amount of time users spend viewing a specific page or screen, or set of pages or screens.">
            <b>Avg. Time</b>
        </abbr>
    </div>

</div>
<div class="h-divider" style="margin-bottom:14px;"></div>

@if (Model.Count() == 0)
{
    <div class="row">
        <div class="  col-xs-12 text-left">No records</div>
    </div>
}
else
{
    foreach (var v in Model)
    {

    var postName = v.Id == 0 ? "" : "<br />" + v.Title1;
    var spentTime = TimeSpan.FromTicks(v.SpentTimeMC);
<div class="row">
    <div class="col-xs-12   col-sm-5 text-left"><b>@v.Action</b> 
          @if (v.Id != 0)
          {
            @Html.Raw("<br/>")@Html.ActionLink(v.Title1, "GetPost", "Blog", new { id = v.Id }, null)
          }
    </div>
    <div class="col-xs-4  col-sm-2 text-left">@v.Count1</div>
    <div class=" col-xs-4 col-sm-2 text-left">@(v.Count2 + v.Count3) (@v.Count2/ @v.Count3) </div>
    <div class=" col-xs-4 col-sm-3 text-left">@spentTime</div>   
</div>
<hr/>
}
}