﻿@model int
@using LJ.Models.Visitor;
@using LJ.ViewModels.Visitor;
@using System.Collections.Concurrent;
@using System.Web.Security;
@using System.Web;

@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
   
}



@section MainContent{ 

<div class="row">
    <div class="  col-xs-12 text-left">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-cog"></span></a></li>
            <li class="active">Who is online (under construction)</li>
        </ol>
    </div>
</div>
<div id="container" ></div>
<div class="row">
    <div id="container2" class="col-xs-12"></div>    
</div>
}

@section RightSideContent{
    <div class="row">
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li class="active">Advertisement</li>
            </ol>
        </div>
    </div>
    @Html.Partial("_Ad", 2)
}




@section Scripts {
<!--  latitude/longitude -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.6/proj4.js"></script>

<!--  map -->

<script src="http://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>

<script src="https://code.highcharts.com/mapdata/custom/world-highres.js"></script>
 <!-- jquery template library -->
<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>







<script>
 //http://freegeoip.net/?q=108.41.229.212
//http://www.highcharts.com/docs/maps/map-collection
   
    $(function () {
       
        var dataInfo;
        $.post("@Url.Action("GetOnlineVisitorsMap", "Visitor")", function (data) {
            dataInfo = data.info;

            
          
        // Initiate the chart
        $('#container').highcharts('Map', {

            title: {
                text: 'Right now active visitors on site'
            },

            mapNavigation: {
                enabled: true
            },

            tooltip: {
                headerFormat: '',
               // pointFormat: '<b>{point.name}</b><br>Lat: {point.lat}, Lon: {point.lon}'
                formatter: fnTooltipFormatter
            },

            series: [{
                // Use the gb-all map with no data as a basemap
                mapData: Highcharts.maps['custom/world-highres'],
                name: 'Basemap',
                borderColor: '#A0A0A0',
                nullColor: 'rgba(200, 200, 200, 0.3)',
                showInLegend: false
            }, {
                name: 'Separators',
                type: 'mapline',
                data: Highcharts.geojson(Highcharts.maps['custom/world-highres'], 'mapline'),
                color: '#707070',
                showInLegend: false,
                enableMouseTracking: false
            }, {
                // Specify points using lat/lon
                type: 'mappoint',
                name: 'visitors',
               // color: Highcharts.getOptions().colors[3],
                "marker": {
                    "fillColor": Highcharts.getOptions().colors[1],
                    "lineColor": Highcharts.getOptions().colors[1],
                    "lineWidth": 1,
                    "radius": 2
                },
                dataLabels: {
                    enabled: true,
                    formatter: fnLabelFormatter
                    //format: '{point.name}'
                },
               
                data: data.data
             
            }]
        });
       
      

        $("#tmpUsersInfo").tmpl(data).appendTo("#container2");
        // pointFormat: '<b>{point.name}</b><br>Lat: {point.lat}, Lon: {point.lon}'
        function fnTooltipFormatter() {

            var info = dataInfo[this.point.name];          
            return "<b>Visitor # " + (parseInt(info.index) + 1) + "</b><br/><b>User Name: </b>" +
                  info.username + "<br/><b>Location: </b>" +
                  info.city + ", " + info.country_name;
            
        }

       
        function fnLabelFormatter() {

            var info = dataInfo[this.point.name];
            return "<b>" +info.city +"</b>";

        }
      
        });

      
        
    });
</script>


<script type="text/html" id="tmpUsersInfo">
    <div class="col-xs-12" style="margin-top:16px;margin-bottom:20px;">
        <b>Visitors Total:</b>
        <br class="visible-xs" />
        Authenticated <span style="background-color: rgb(128, 128, 128);" class="badge">${usersCount}</span>
        <br class="visible-xs"/>
        Anonymous  <span style="background-color: rgb(128, 128, 128);" class="badge">${ananimousesCount}</span>
    </div>
    <hr />
    <div class="col-xs-2"><b>Visitor</b></div>
    <div class="col-xs-4"><b>Name</b></div>
    <div class="col-xs-6"><b>Location</b></div>
    {{each info}}
        <div class="col-xs-2">${parseInt(index) +1 }</div>
        <div class="col-xs-4"> {{if username == "Anonymous"}}${username}{{else}} <a href="/User/GetProfile/${username}">${username}</a>{{/if}}</div>
        <div class="col-xs-6">${city}, ${country_name}</div>
    {{/each}}
</script>

}