﻿@model  IEnumerable<UserRatingViewModel>
@using LJ.ViewModels.User;
@using LJ.Models.Account;

@{
    Layout = "~/Views/Shared/_LayoutDemo.cshtml";
}


@{
    Random rnd = new Random();
    
    int perPage = (int)ViewBag.perPage;
    int pageNumber = (int)ViewBag.pageNumber;
    int[] options = { 6, 8, 10, 12, 24, 48, 100, 200 };
    int y = 1 + perPage * (pageNumber - 1);
    int usersCount= (int)ViewBag.usersCount;
    int pagesNumber = (int)Math.Ceiling((double)usersCount / perPage);
 }
@section MainContent{ 
    
   <div class="row">
    <div class="  col-xs-12 text-left">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-cog"></span></a></li>
            <li class="active">Blogs by average top rating</li>          
        </ol>
    </div>
</div> 
    
  <div class="row" style="margin-top:15px;">
      <div class="col-md-1 col-xs-4 hidden-xs text-left"><b>Top#</b></div>
      <div class="col-md-6 col-xs-5 text-left"><b>Blog</b></div>
      <div class="col-md-2 col-xs-3  text-left"><b>Average<br/> rating</b></div>
      <div class="col-md-2 col-xs-3  text-left"><b>Current<br/> rating</b></div>
  </div>

    @foreach (var u in Model)
    {
        <hr/>
        <div class="row" style="margin-top:15px;">

            <div class="col-md-1 col-xs-12 text-left"><span class="badge" style="background-color: gray;margin-bottom:10px;">@u.AverageTopOrder</span></div>
            <div class="col-md-2 col-xs-5 text-left">
             <img class="userpic-size-md" src="@(u.User.DefaultUserImage == null ? Url.Content(" ~ /Content/UserImages/NoImage.jpg") : @Url.Content("/Blog/GetImage?id=" + u.User.DefaultUserImageId))">
            </div>
            <div class="col-md-4 col-xs-7 text-left"><span class="glyphicon glyphicon-user"></span> 
                @Html.ActionLink(u.User.UserName, "GetProfile", "User", new { id = u.User.UserName }, null)<br />
                @u.User.ApplicationUserInfo.FirstName  @u.User.ApplicationUserInfo.LastName
            </div>
            
            <div class="col-md-2 col-xs-3 text-left"><span class="badge" style="background-color: gray;margin-bottom:10px;">@String.Format("{0:0.##}", u.AverageRating)</span></div>
            <div class="col-md-3 col-xs-3  text-left"><span class="badge navigation-posts" 
              style="margin-bottom:10px;background-color:#6495ED  !important;color:white  !important;">@u.Rating</span></div>
          
      </div>             
     y++;
   }
}

@section  FooterContent{

    <div class="row ">

        <div class="col-sm-8">
            <ul class="pagination pagination-md  pull-left">

                @for (int i = 1; i <= pagesNumber; i++)
                {
                    <li @Html.Raw(pageNumber == i ? "class='active'" : "")>

                        @Html.ActionLink(i.ToString(), "GetAverageTopUsers", new { id = i, perpage = perPage })
                    </li>
                }

            </ul>
        </div>


        @using (Html.BeginForm("GetAverageTopUsers", "User"))
        {
            <div class="col-xs-3 col-xs-offset-1 text-right">
                <div style="vertical-align:bottom;padding-top:19px;">
                    <div class="input-group ">
                        <span class="input-group-addon">per page</span>
                        <select class="form-control select-perpage" name="perpage" id="perpage" style="width:70px; ">
                            @foreach (var option in options)
                            {
                                <option @(option == perPage ? "selected=\"selected\"" : "")>@option</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

        }
    </div>

}

@section RightSideContent{
    <div class="row hidden-xs ">
    <div class="  col-xs-12 text-left hidden-xs">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-cog"></span></a></li>
            <li class="active">Advertisement</li>
        </ol>
    </div>

    @Html.Partial("_Ad", ((perPage > usersCount ? usersCount : perPage) / 6 + 1))
</div>
    
}


@section Scripts {

    <script>
        $(document).ready(function () {

            $(".select-perpage").change(function (e) {

                $(this).closest("form").submit();
            });


            $("li.active a").click(function (e) {

                e.preventDefault();

            });

        });

    </script>
}

