﻿@model StatisticsByFriendsViewModel
@using LJ.Models.User;
@using LJ.ViewModels.User;


@section Styles
{   
      <link rel="stylesheet" href="/content/bootstrap-datetimepicker.min.css" />
}


@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    var user = Model.User;
    int defaultUserImageId = (int)(user.DefaultUserImageId == null ? 1 : user.DefaultUserImageId);
    var friendsWithArxiv = Model.User.FriendsWithArxiv
          .GroupBy(p => p.FriendId, p => p)
          .Select(k => new
          {
              Friend = k.FirstOrDefault().Friend,
              Date = k.Max(h => h.Date),
              FriendWithArxiv = k.OrderByDescending(s => s.Date)
          })
          .OrderByDescending(h => h.Date)
          .ToList();
    Random rnd = new Random();
}

@section CurrentPageInfo
{
    @user.UserName, you are viewing your journal
}


@section MainContent{
    @Html.Partial("_UserPanel",
           new UserPanelInfo
           {
               VisitorUserName = user.UserName,
               UserName = user.UserName,
               FriendType = (int)FriendType.MySelf,
               DefaultUserImageId = defaultUserImageId,
               FriendGroups = user.FriendGroups

           })




    <div class="row">
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> @user.UserName</a></li>
                <li class="active">Statistics by Friends (under construction)</li>

            </ol>
        </div>
    </div>

<div class="row">
    <div class="  col-xs-12 col-md-4 col-sm-offset-4 text-left">




        <div class="form-group">
            <div class='input-group date' id='datetimepicker1'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
</div>




 <div class="row row-scroll" style="margin-top:80px;">
    <div class="  col-xs-12 text-left">
        <div id="container2" style=" min-width: 120px;height: 400px; margin: 0 auto"></div>

    </div>
</div>


<div class="row row-scroll" style="margin-top:120px;">
    <div class="  col-xs-12 text-left">
        <div id="container1" style=" min-width: 120px;height: 400px; margin: 0 auto"></div>
    </div>
</div>
}


@section  FooterContent{
}

@section RightSideContent{
    <div class="row">
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li class="active">Advertisement</li>
            </ol>
        </div>
    </div>
    @Html.Partial("_Ad", 3)
}


@section Scripts {

    <!-- Scripts Level 1-->
    <!-- highcharts -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

     <!-- datetimepicker  https://eonasdan.github.io/bootstrap-datetimepicker/Installing/ -->
    <script type="text/javascript" src="/scripts/moment.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap-datetimepicker.min.js"></script>

    <script>

            $(function () {
                $('#datetimepicker1').datetimepicker({ defaultDate:new Date(),
                    format: 'MMMM YYYY',
                    maxDate: moment().endOf("month"),
                   // minDate: new Date("@Model.StartDateRange")
                });

                fnGetStatistics(0, 0);

                $("#datetimepicker1").on("dp.change", function (e) {
                    fnGetStatistics(e.date.format('M'), e.date.format('YYYY'));
                });
            });


            //---------------------------------------
            function fnGetStatistics( month, year) {
       
                $.post("@Url.Action("GetFriendsChart", "User", new { id = Model.User.UserName })",
                               { month: month, year: year }, function (data) {


            var statisticsDate = moment([parseInt(data.year), parseInt(data.month) -1 ]).endOf("month");
            var statisticsMonthName = statisticsDate.format('MMMM');


            var arr1 = data.names1;
            data.chart1.yAxis.plotLines= [{
                color: 'lightgray',
                width: 2,
                value: 0
            }];
            
            data.chart1.colors = ['green', 'gray'];
            data.chart1.tooltip = {
                useHTML: true,
                formatter: function () {

                   var seriesid = this.series.options.id.split('-')[1];
                    var usersCount1 = Math.abs(parseInt(this.y));
                    return "Statistics for " + statisticsMonthName +" " + this.x +"th<br/>" +
                                   (seriesid == "Add" ? "You was added to  friends list by " : "You was deleted from  friends list by ") +
                                       (usersCount1 > 1 ? usersCount1 + " users:<br/>" : "user ") +
                                           arr1[parseInt(this.x) - 1][seriesid];
                }
            };

            var arr2 = data.names2;
            data.chart2.yAxis.plotLines = [{
                color: 'lightgray',
                width: 2,
                value: 0
            }];
            data.chart2.colors = ['#0d47a1', 'gray'];
            data.chart2.tooltip = {
                useHTML: true,
                formatter: function () {
                    var seriesid2 = this.series.options.id.split('-')[1];
                    var usersCount2 = Math.abs(parseInt(this.y));
                    return "Statistics for " + statisticsMonthName + " " + this.x + "th<br/>" +
                                   (seriesid2 == "Add" ? "You  added to  your friends list  " : "You  deleted from  your friends list  ") +
                                       (usersCount2 > 1 ? usersCount2 + " users:<br/>" : "user ") +
                                           arr2[parseInt(this.x) - 1][seriesid2];
                }
            };

           
            $('#container1').highcharts(data.chart1);
            $('#container2').highcharts(data.chart2);
        });    
    };


    </script>
}


