﻿@model  FrontPageViewModel
@using LJ.Models.Blog;
@using LJ.ViewModels.User;

<p class="text-center" style="margin-bottom:55px;">

    <a href="/User/GetUsersRatingsRanges" class="btn btn-primary btn-lg" target="_blank" style="margin-bottom:10px;"
       title="Blogs ratings are calculated every @LJ.Controllers.VisitorController.JOB_INTERVAL_RATING hours">
        <span class="glyphicon glyphicon-info-sign"></span> Blogs ratings
    </a>

    <a href="/User/GetPostsRatingsRanges" class="btn btn-primary btn-lg" target="_blank" style="margin-bottom:10px;"
       title="Posta ratings are calculated every @LJ.Controllers.VisitorController.JOB_INTERVAL_RATING hours">
        <span class="glyphicon glyphicon-info-sign"></span> Posts ratings
    </a>
</p>

<h3>
    <b>
        <a href="/User/GetCurrentTopUsers"> Top bloggers now</a>
    </b>
</h3>
<div class="row text-center" style="margin-top:45px; margin-bottom:55px;">

    @foreach (var i in Model.TopUsers)
    {
        <div class="col-sm-4 col-xs-6 text-center">
            <div style="border-width:1px;border-color:gray; background-color:white;">
                <img class="userpic-size-lg" style="margin:16px;" src="/Blog/GetImage/@i.User.DefaultUserImageId">

            </div>  <br />
            <a href="/User/GetProfile/@i.User.UserName">
                <span class="glyphicon glyphicon-user"></span>  @i.User.UserName
            </a>

        </div>
    }
</div>


<h3>
    <b>
        <a href="/Blog/GetTopPosts"> Top posts now</a>
    </b>
</h3>
<div class="row " style="margin-top:15px; margin-bottom:15px;">

    <div class="col-xs-12 text-center">
        <div class="text-left" style="display: inline-block;">
            @foreach (var i in Model.TopPosts)
            {


                <a href="/Blog/GetUserPost/@i.PostId">@i.Post.Title</a><br />


            }
        </div>

                </div>
            </div>
