﻿@model StatisticsByFriendsViewModel
@using LJ.Models.User;
@using LJ.ViewModels.User;


@section Styles
{
    <link rel="stylesheet" href="/content/bootstrap-datetimepicker.min.css" />
}




@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
 
    var user = Model.User;
    int defaultUserImageId = (int)(user.DefaultUserImageId == null ? 1 : user.DefaultUserImageId);
    var friendsWithArxiv = Model.User.FriendsWithArxiv
          .GroupBy(p => p.FriendId, p => p)
          .Select(k => new
          {
              Friend = k.FirstOrDefault().Friend,
              Date = k.Max(h => h.Date),
              FriendWithArxiv = k.OrderByDescending(s => s.Date)
          })
          .OrderByDescending(h => h.Date)
          .ToList();
    Random rnd = new Random();
}

@section CurrentPageInfo
{
    @user.UserName, you are viewing your journal
}


@section MainContent{
    @Html.Partial("_UserPanel",
           new UserPanelInfo
           {
               VisitorUserName = user.UserName,
               UserName = user.UserName,
               FriendType = (int)FriendType.MySelf,
               DefaultUserImageId = defaultUserImageId,
               FriendGroups = user.FriendGroups

           })

    <div class="row">
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> @user.UserName</a></li>
                <li class="active">Statistics by blog ratings </li>

            </ol>
        </div>
    </div>


    <div class="row">
        <div class="  col-xs-6 col-md-4 col-sm-offset-4 text-left">
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>



    <div class="row row-scroll" style="margin-top:80px;">
        <div class="  col-xs-12 text-center">
        </div>
        <div class="  col-xs-12 text-left">
            <div id="container" style=" min-width: 120px; margin: 0 auto"></div>
        </div>
    </div>


<div class="row row-scroll" style="margin-top:80px;">
    <div class="  col-xs-12 text-center">
    </div>
    <div class="  col-xs-12 text-left">
        <div id="container2" style=" min-width: 120px; margin: 0 auto"></div>
    </div>
</div>
}

@section RightSideContent{
    <div class="row">
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li class="active">Advertisement</li>
            </ol>
        </div>
    </div>
    @Html.Partial("_Ad", 3)
}



@section Scripts {

    <!-- Scripts Level 1-->
    <!-- highcharts -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    

    <!-- datetimepicker  https://eonasdan.github.io/bootstrap-datetimepicker/Installing/ -->
    <script type="text/javascript" src="/scripts/moment.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap-datetimepicker.min.js"></script>

    <script>
    $(function () {
        $('#datetimepicker1').datetimepicker({
            defaultDate: new Date(),
            format: 'MMMM YYYY',
            maxDate: moment().endOf("month"),
           // minDate: new Date("@ViewBag.StartDateRange")
        });

        fnGetStatistics(0, 0);

        $("#datetimepicker1").on("dp.change", function (e) {
            fnGetStatistics(e.date.format('M'), e.date.format('YYYY'));
        });
    });


    //---------------------------------------
    function fnGetStatistics(month, year) {
        $.post("@Url.Action("GetUsersRatingsChart", "User", new { username = Model.User.UserName })",
             { month: month, year: year }, function (data) {


            var statisticsDate = moment([parseInt(data.year), parseInt(data.month) - 1]).endOf("month");
            var statisticsMonthName = statisticsDate.format('MMMM');


            /*     data.ratings.forEach(
                              function addNumber(value, index, arr) { if (value == 0) arr[index] = null; }
                   );

                 data.topratings.forEach(
                             function addNumber(value, index, arr) { if (value == 0) arr[index] = null; }
                  );*/

            $('#container').highcharts({

                title: {
                    text: 'Blog ratings in ' + statisticsMonthName,
                },
                subtitle: {
                    text: 'average ratings for day'
                },

                xAxis: {
                    type: 'datetime',
                    title: {
                        text: 'Days in ' + statisticsMonthName
                    },
                    dateTimeLabelFormats: {
                        day: '%e'
                    }
                    // tickInterval: 3600 * 1000
                },

                yAxis: {
                    title: {
                        text: "Top ratings"
                    },
                    min: 0,
                },

                tooltip: {
                    crosshairs: true,
                    shared: true,
                    // valueSuffix: 'points'
                },

                legend: {
                },

                series: [{
                    name: 'Blog top rating',
                    data: data.userRatings,
                    zIndex: 1,
                    marker: {
                        fillColor: 'white',
                        lineWidth: 1,
                        lineColor: Highcharts.getOptions().colors[1]
                    }
                }, {
                    name: 'Top ratings range',
                    data: data.topRatingRanges,
                    type: 'arearange',
                    lineWidth: 0,
                    linkedTo: ':previous',
                    color: Highcharts.getOptions().colors[0],
                    fillOpacity: 0.3,
                    zIndex: 0
                }]
            });

            //===============================================






            $('#container2').highcharts({

                title: {
                    text: 'Blog top position in ' + statisticsMonthName,
                },

                subtitle: {
                    text: 'range top positions, blog average top positions'
                },

                /*  tooltip: {
                      crosshairs: true,
                      shared: true,
                     // valueSuffix: '°C',
                      formatter: function () {
                          var that = this;
                          if (this.series.options.hasOwnProperty("ranges")) {
                              var min, max;
                              $.each(this.series.options.ranges, function (i, point) {
                                  if (point[0] == that.x) {
                                      min = point[1];
                                      max = point[2];
                                  }
                              });
                              return "min/max range: " + min + " - " + max;
                          }
                      }
                  },*/

                xAxis: {
                    // tickInterval: 1,
                    type: 'datetime',
                    dateTimeLabelFormats: {
                        day: '%e'
                    },
                    title: {
                        text: 'Days in ' + statisticsMonthName
                    }
                },

                yAxis: {
                    max: 0,

                    plotLines: [{
                        value: -data.lastOrder + 1,
                        color: 'gray',
                        dashStyle: 'shortdash',
                        width: 1,
                        /* label: {
                             text: 'Last quarter minimum'
                         }*/

                    }],

                    labels: {
                        formatter: function () {
                            var value;
                            if (-this.value >= data.lastOrder + 1) value = "";
                            else if (this.value > 0) value = "";
                            else value = -(this.value - 1)
                            return value;
                        }
                    },
                    title: {
                        text: "Top position"
                    },


                },

                tooltip: {
                    crosshairs: true,
                    shared: true,
                    formatter: function () {
                        var index = 0;

                        // if x int => var point = this.points[1].series.data[this.x -1 ];
                        //for x datatime
                        for (var i = 0; i < this.points[0].series.data.length; i++) {
                            var item = this.points[0].series.data[i];
                            if (item.x == this.x && item.y == this.y)
                            { index = i; break; }
                        }
                        var point = this.points[1].series.data[index];

                        var topRange = (-point.high) == data.lastOrder ? "No top selection" :
                            "Top range [" + (-point.low + 1) + " - " + (-point.high + 1) + "]";

                        userValue = -this.y + 1;
                        if (userValue == data.lastOrder + 1) userValue = "no";

                        var day = Highcharts.dateFormat('%A, %b %e, %H:%M:%S', this.x);
                        var s = day + "<br/>" +
                                   topRange + "<br/>Your top position: " + userValue;
                        return s;
                    },
                },

                legend: {
                },

                series: [{
                    name: 'Blog top position',

                    data: data.userTopOrders,
                    zIndex: 1,
                    marker: {
                        fillColor: 'white',
                        lineWidth: 1,
                        lineColor: Highcharts.getOptions().colors[1]
                    }
                }, {
                    name: 'Top ratings range',
                    data: data.topOrderRanges,
                    type: 'arearange',
                    lineWidth: 0,
                    linkedTo: ':previous',
                    color: Highcharts.getOptions().colors[0],
                    fillOpacity: 0.3,
                    zIndex: 0
                }]
            });
            //--------------------------
        });
    }

    //--------------------------------------


    </script>
}




