﻿@model ImageCropForDisplyViewModel
@using  LJ.Infrastructure;
@using LJ.ViewModels.User;

@{
    
    Layout = "~/Views/Shared/_LayoutOld.cshtml";
}

@section Styles
{
    <link href="@Url.Content("~//Scripts/CropImages/css/ImageArea.css")" rel="stylesheet" />
}


@using (Html.BeginForm("UploadImage", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div id="upload-choices">
    <div class="editor-row">
        @Html.EditorFor(model => model.IsUrl, null, "txtMyField")
        @Html.LabelFor(model => model.Url)
    </div><div class="editor-field">
        <div class="editor-label">
            @Html.EditorFor(model => model.Url)
            @Html.ValidationMessageFor(model => model.Url)
        </div>
    </div>
    <div class="editor-row">
        <div class="editor-label">
            @Html.EditorFor(model => model.IsFlickr)
            @Html.LabelFor(model => model.Flickr)
        </div><div class="editor-field">
            @Html.EditorFor(model => model.Flickr)
            @Html.ValidationMessageFor(model => model.Flickr)
        </div>
    </div>
    <div class="editor-row">
        <div class="editor-label">
            @Html.EditorFor(model => model.IsFile)
            @Html.LabelFor(model => model.File)
        </div><div class="editor-field">
            @Html.FileFor(model => model.File)
            @Html.ValidationMessageFor(model => model.File)
        </div>
    </div>
    <div class="editor-row">
        @Html.ValidationSummary(true)
    </div>
</div>
    <br/>
    <div id="preview1" style="width: 100px; height: 100px; overflow: hidden;">
        <img src="@Url.Content("~/Content/UserImages/NoImage.jpg")" style="width: 100px; height: 100px; ">
    </div>

<div id="upload-cut">
    <img alt="Field for image cutting" id="preview" src="@Url.Content("~/Content/UserImages/NoImage.jpg")" />
</div>
<div class="clear">
    <button type="submit">Upload</button> 
</div>


    @Html.TextBoxFor(model => model.X)
    @Html.TextBoxFor(model => model.Y)
    @Html.TextBoxFor(model => model.Width)
    @Html.TextBoxFor(model => model.Height)
}



@section Scripts
{  
    <!-- LJ Upload Image -->
    <script src="@Url.Content("~/Scripts/CropImages/jquery/jquery.imgareaselect.js")"></script>
    <script src="@Url.Content("~/Scripts/CropImages/custom/uploadimages.js")"></script>
}
