﻿@using LJ.Models.User;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    
   
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">

    <!-- Bootstrap Dialog -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css">
    <!--Custom Stylesheets -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/lj/ljNew.css")" />
    @RenderSection("Styles", false)


</head>
<body>
    @using Microsoft.AspNet.Identity;
    @{
        var username = User.Identity.GetUserName();
        var inRole = User.IsInRole("Admin");
    }
  
    <div class="navbar navbar-inverse" style="margin-bottom:0px;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")"
                   class="navbar-brand"><span class="glyphicon glyphicon-cog"></span></a>
            </div>
           
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">                  
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Top
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header"><b>Posts</b></li>
                            <li>@Html.ActionLink("by current ratings", "GetTopPosts", "Blog")</li>
                            <li class="divider"></li>
                            <li class="dropdown-header"><b>Blogs</b></li>
                            <li>@Html.ActionLink("by current ratings", "GetCurrentTopUsers", "User")</li>
                            <li>@Html.ActionLink("by average  ratings ", "GetAverageTopUsers", "User")</li>
                            <li class="divider"></li>
                            <li class="dropdown-header"><b>Statistics</b></li>
                            <li>@Html.ActionLink("by blogs ratings", "GetUsersRatingsRanges", "User")</li>
                            <li>@Html.ActionLink("by   posts ratings", "GetPostsRatingsRanges", "User")</li>
                        </ul>
                    </li>
                   
                   
                    <li>@Html.ActionLink("Blogs", "GetUsersAlfabet", "User")</li>
                           
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Visitors
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header"><b>Online </b></li>
                            <li>@Html.ActionLink("visitors  locations", "WhoIsOnline", "Visitor")</li>
                            <li>@Html.ActionLink("visitors summary by country", "WhoIsOnlineByCountries", "Visitor")</li>
                            <li class="divider"></li>
                            <li class="dropdown-header"><b>History</b></li>
                            <li>@Html.ActionLink("visitors summary  by day", "GetVisitsStatistics", "Visitor")</li>
                            <li>@Html.ActionLink("visitors summary by country", "GetHistoryVisitorsByCountry", "Visitor")</li>

                        </ul>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Admin
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header"><b>GRUD</b></li>
                                <li>@Html.ActionLink("Tags, categories", "Manage", "Admin")</li>

                                <li class="divider"></li>
                                <li class="dropdown-header"><b>Background jobs</b></li>
                                <li><a href="/Hangfire"> Hangfire dashboard</a></li>

                                <li class="divider"></li>
                                <li class="dropdown-header"><b>Statistics</b></li>
                                <li>@Html.ActionLink("by exit pages", "GetExitPagesForAdmin", "Visitor")</li>
                                <li>@Html.ActionLink("by bounce pages", "GetBouncePagesForAdmin", "Visitor")</li>
                                <li>@Html.ActionLink("by visited pages", "GetVisitedPagesForAdmin", "Visitor")</li>
                                <li>@Html.ActionLink("by visitor ip addresses", "GetAllVisitorsList", "Visitor")</li>   

                            </ul>
                        </li>
                    }
                   
                       
                    
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Help", "Help", "Home")</li>
                    
                    
                </ul>

                @Html.Partial("_LoginPartial")
                @RenderSection("UserMenuContent", required: false)
            </div>
        </div>
    </div>
    <div class="panel panel-default" style="background-color:gray; border-color:gray; color:lightgray">
        @RenderSection("CurrentPageInfo", required: false)
    </div>

    @RenderSection("Passwords", required: false)

    <div class="container">
        <div class="row">         
                <div class="col-xs-12 col-sm-8  col-md-9 ">                    
                        <div class="content">
                            @RenderSection("MainContent", required: false)
                        </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3 ">                   
                        <div class="content ">
                            @RenderSection("RightSideContent", required: false)
                        </div>               
                </div>
        </div>

    </div>
        @RenderBody()
        <hr />
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    @RenderSection("FooterContent", required: false)
                </div>
            </div>
            </div>
</footer>
    

    @*Scripts.Render("~/bundles/bootstrap")*@
    <!-- Scripts Level 0-->
    <!-- jquery library -->
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.js")"></script>
    <!-- support jQuery.browser -->
    <script src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script>
    <!-- bootstrap -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- Bootstrap Dialog -->   
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
    <!-- Custom LJ Add-remove Friends -->
    <script type="text/javascript" src="~/scripts/userlj/managefriends.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

