﻿@using (Html.BeginForm("GetSearch", "Blog",  FormMethod.Get, new { id = "search-form" }))            
{
    <p>
        @Html.TextBox("search")
    </p>
    <p>
        <input value="Search" type="submit">
    </p>
}
