﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Scripts/CropImages/css/Site.css")" rel="stylesheet" />
    @RenderSection("Styles", false)
</head>

<body>
    <div class="page">
        <header>
            <div id="title">
                <h1>Image uploader demo</h1>
            </div>
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Upload", "UploadImage", "Home")</li>
                </ul>
            </nav>
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer></footer>
    </div>
   @*work old

    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.js")"></script>
    <!-- Validate -->
    <script src="@Url.Content("~/Scripts/oldjquery/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/oldjquery/jquery.validate.unobtrusive.js")"></script> *@

    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.js")"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>


    @RenderSection("Scripts", false)
    
</body>
</html>

